
<%  products.each do |vegetable| %>
    <tr>
      <td><%= vegetable.id %></td>
      <td><%= vegetable.product%></td>
      <td><%= vegetable.name%></td>
      <td><%= vegetable.price%></td>
      <td><%= vegetable.category.name %></td>

      <td>
      <a href="#">EDIT</a>
      <a href="#">EDIT</a>
      <a href="#">EDIT</a>
      <%= link_to "Add #{vegetable.product} to cart",carts_path(:vegetable_id => vegetable.id,
                                                              :user_id =>current_user.id,
                                                              :vegetable_name =>vegetable.product,
                                                              :vegetable_price =>vegetable.price),
                                                             method: :post %>

      </td>

      
        </tr>
    <% end %>