<!DOCTYPE html>
<html>
  <head>
    <title>VegetableGardens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

     
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>

  <body>
  





       <ul class="nav justify-content-end bg-dark py-4">
       <% if user_signed_in? %>

       <li class="nav-item">
       <div class="float-left"><%= link_to "Add_Vegetables",new_vegetable_path,method: :get,class: 'text-light mx-3'%></div><br>
        </li>

       <span class="text-light mx-3"><%=current_user.email%></span>
       <li class="nav-item">
       <%= link_to "MyCart",carts_path(:user_id=>current_user.id),method: :post,class: 'text-light mx-3' %>
       </li>

       <li class="nav-item">
       <%= link_to "sign up", new_user_registration_path, :method => :get, class: 'text-light' %>
       </li>

       <li class="nav-item">
       <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'text-light mx-3' %>
        <% else %>
        <li class="nav-item">
        <%= link_to "Sign in", new_user_session_path, :method => :get, class: 'text-light mx-3' %>
        </li>
       <% end %>
       </li>
     </ul>
     
     
       






    <%= yield %>
  </body>
</html>


